@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This is a Simple MVC Application using <b>ASP.NET Core 9.0</b> and <b>Entity Framework Core</b>.</p>
    <p>Click the button below to view the list of products.</p>
    <btn><a href="/Product/Index" class="btn btn-primary">Product List</a></btn>
    <br /><br /><br />
   
</div>
