@model Product

<h1>Delete Product</h1>

<h4>Are you sure you want to delete "@Model.Name"?</h4>

<form asp-controller="Product" asp-action="DeleteConfirm" method="post">
    <input asp-for=Id hidden/>
    <button type="submit" class="btn btn-danger">Delete</button>
</form>

<a asp-action="index" asp-controller="product" class="btn btn-secondary mt-3">Back to list</a>